<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <p>Edit your Chat : <%= chat._id %></p>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>

    <form action="/chats/<%= chat._id %>?_method=PUT" method="post">
        <textarea name="msg" cols="20" rows="10"><%= chat.msg %></textarea>
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>